/*  your css code here. If applicable */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    margin: 0;
}
.card{
    width: 350px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.card h1{
    font-size: 28px;
    margin: 15px 0 10px;
}

.card .price{
    font-size: 20px;
    margin: 10px 0;
}
.card .desc{
    font-size: 18px;
    margin-bottom: 20px;
}

.card button{
    padding: 12px 25px;
    background-color: #ff5c5c;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

